.circle-container {
  position: relative;
}

.progress-text {
  font-size: 16px;
  fill: var(--primary-text);
  font-weight: bold;
}

.progress-ring-circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  stroke: var(--correct);
}

.progress-ring-circle.red {
  stroke: var(--incorrect);
}

.progress-ring-background {
  stroke: var(--secondary-text);
}
