/* results.component.css */
.results-container {
  text-align: center;
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.results-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.score {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.name-prompt {
  font-size: 1rem;
  margin-bottom: 10px;
}

.name-input {
  padding: 10px;
  font-size: 1.2rem;
  width: 70%;
  margin-bottom: 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
}

.name-input:focus {
  outline: none;
  border: 2px solid #4caf50;
}

.continue-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.continue-btn:hover {
  background-color: #45a049;
}
